/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #121212;
    color: #e0e0e0;
    line-height: 1.6;
  }
  
  
  /* Encabezado */
  header h1 {
    font-size: 2rem;
  }
  
  header nav a {
    text-decoration: none;
    font-size: 1rem;
  }
  
  /* Proyectos */
  .project-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
  
  .project-card img {
    border-radius: 5px 5px 0 0;
    height: 200px;
    object-fit: cover;
  }
  
  .project-card .btn-primary {
    background-color: #FFD700;
    border-color: #FFD700;
    color: black;
  }
  
  .project-card .btn-primary:hover {
    background-color: #FFC107;
    border-color: #FFC107;
  }
  
  /* Contacto */
  section#contact a {
    color: #007bff;
  }
  
  section#contact a:hover {
    color: #0056b3;
    text-decoration: underline;
  }
  
  /* Pie de página */
  footer {
    font-size: 0.9rem;
  }
  .icon-link img {
    transition: transform 0.3s ease-in-out; /* Suaviza el efecto */
  }
  
  .icon-link img:hover {
    transform: scale(1.2); /* Agranda el ícono al pasar el mouse */
  }
  #data-analyzer {
    margin-top: 40px; /* Espacio superior */
    margin-bottom: 40px; /* Espacio inferior */
  }
  .img-profile {
    width: 150px; /* Ajusta el tamaño según sea necesario */
    height: 150px; /* Mantén la altura igual a la anchura para que sea circular */
    border-radius: 50%; /* Esto hace que la imagen sea circular */
    object-fit: cover; /* Esto asegura que la imagen se recorte adecuadamente */
    margin-bottom: 20px; /* Espacio entre la imagen y el texto */
  }
  